.wifisimg{
    width: 40px;
　　height: 50px;
    float: left;
}
.wifi1{
    background-color:#616a6a;
    font-size: 30px;
}
.wifi0{
    background-color: #c5ccd3;
    font-size: 30px;
}
h1{
    text-align: center;
    color:#18FFFF
}
.title{
    text-align: right;
    color:#18FFFF
}
body{
   /*background-color: #c8e3e5*/
    background-image: url(./img/haikei_pc02.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100%;
    background-attachment: fixed;
}
html{
    height: 100%;
}
