.wifisimg{
    width: 40px;
　　height: 50px;
    float: left;
}
.wifi{
    background-color:#757575;
    font-size: 20px;
    /*opacity: 0.75;*/
}
#ssid{
    color:#18FFFF;
    margin:0 auto;
}
h1{
    text-align: center;
    color:#18FFFF
}
.title{
    text-align: right;
    color:#18FFFF
}
body{
    background-color: #424242;
}
html{
    height: 120%;
}

